.button {
  padding: 14px 40px;
  background-color: indigo;
  color: white;
  border-radius: 10px;
}
ul.navQuestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

#bar{
  height: 8px;
  width: 100%;
  background-image: linear-gradient(to right, green , red);
}

#num{
  display: inline-block;
}

#pointer{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #000;
  margin-top: -14px;
}

h1.test{
  color: indigo;
  animation:color;
  font-size: 30px;
}
@keyframes color{
  0%   {color:indigo;}
 25%  {color:darkblue;}
 50%  {color:dodgerblue;}
 75%  {color:darkblue;}
 100% {color:indigo;}
}

.resultanswer{
  display: none;
}
